/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-font: 'Poppins', sans-serif;
}

.plans div p {
    padding: 0;
    margin: 0;
}

/* 
p, i {
    line-height: 2rem;
} */

.outer {
    /* height: calc(100vh - 4.5rem); */
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.inner {
    /* align-self: center; */
    display: grid;
    row-gap: 1.5rem;
    width: 75%;
    grid-auto-rows: min-content;
    margin-bottom: 2rem;
    margin-top: .5rem;
    justify-content: center;
}

.header {
    color: #131D27;
    font-size: 1.5rem;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 1rem;
    visibility: hidden;
}

.plans {
    display: grid;
    border: .12rem #131D27 solid;
    border-radius: 3rem;
    padding: 0.75rem 1rem 0.25rem 1rem;
    grid-template-columns: 4fr 1fr;
    column-gap: 1rem;
    visibility: hidden;
}

.plans:hover {
    box-shadow: 0px 15px 36px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.cityname {
    font-size: 1.7rem;
    color: purple;
}

.city {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
    padding-left: 0.5rem;
    line-height: 2rem;
}

.description {
    font-size: 1rem;
    color: black;
}

.authtime {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;  
    text-align: center;
}

.author {
    font-size: 0.65rem;
    color: black;
}

.time {
    font-size: 0.6rem;
    color: gray;
}

.label {
    color: gray;
    font-size: 0.6rem;
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; */
    text-align: center;
}

.count {
    transform: translateY(-0.7rem);
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3; */
}

.likes {
    text-align: center;
    display: grid;
    /* grid-template-columns: repeat(2, min-content); */
    font-size: 3rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /* align-items: center; */
}

.likess {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    font-size: 3rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    /* align-items: center; */
}

.likeicon {
    margin-top: 0.6rem;
    color: purple;
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; */
}


@media screen and (min-width: 968px) {
    .inner {
        justify-content: center;
        margin-top: 2rem;
        grid-template-columns: repeat(2, 500px);
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .header {
        font-size: 1.75rem;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-top: 0.5rem;
    }

    .plans {
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
        grid-template-columns: 5fr 1fr;
    }

    .cityname {
        font-size: 2rem;
    }

    .description {
        font-size: 1.3rem;
    }

    .author {
        font-size: 0.85rem;
    }

    .time {
        font-size: 0.8rem;
    }

    .likes {
        font-size: 3.2rem;
    }

    .likeicon {
        margin-top: 0.7rem;
    }
}