{% extends "base.html" %}

{% block content %}

    <section class="view" id="view">
        <div class="view__container">
            {% for post in posts %}
                <ul>
                    &#128205;{{ post.city }} - {{ post.description }} - {{ post.author.username }} - {{ post.likes.count() }}
                    {% if current_user.has_liked_post(post) %}
                        <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
                    {% else %}
                        <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
                    {% endif %}
                </ul>
            {% endfor %}
        </div>
    </section>

{% endblock %}
