<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/plans.css') }}">

        <title>Travel Cube</title>
    </head>

    <body>
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="{{ url_for('index') }}" class="nav__logo">Travel Cube</a>
                </div>
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="{{ url_for('index') }}" class="nav__link active">Home</a></li>
                        {% if current_user.is_anonymous %}
                        <li class="nav__item"><a href="{{ url_for('plans') }}" class="nav__link active">Plans</a></li>
                        <li class="nav__item"><a href="{{ url_for('register') }}" class="nav__link auth">Register</a></li>
                        <li class="nav__item"><a href="{{ url_for('login') }}" class="nav__link auth">Login</a></li>
                        {% else %}
                        <li class="nav__item"><a href="{{ url_for('authplans', username=current_user.username) }}" class="nav__link">Plans</a></li>
                        <li class="nav__item"><a href="{{ url_for('user', username=current_user.username) }}" class="nav__link">Profile</a></li>
                        <li class="nav__item"><a href="{{ url_for('logout') }}" class="nav__link auth">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        
        <section class="content" id="main">
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="message">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>
        </section>

        <!--===== GSAP =====-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='main.js') }}"> </script>
    </body>
</html>