<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        

        <title>Travel Cube</title>
    </head>

    <body onload="window.scrollTo(0,document.body.scrollHeight);">
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Travel Cube</a>
                </div>
                
                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <div class="nav__close" id="nav-close">
                        <i class='bx bx-x'></i>
                    </div>

                    <ul class="nav__list">
                        <li class="nav__item"><a href="{{ url_for('index') }}" class="nav__link active">Home</a></li>
                        {% if current_user.is_anonymous %}
                        <li class="nav__item"><a href="{{ url_for('plans') }}" class="nav__link active">Plans</a></li>
                        <li class="nav__item"><a href="{{ url_for('register') }}" class="nav__link auth">Register</a></li>
                        <li class="nav__item"><a href="{{ url_for('login') }}" class="nav__link auth">Login</a></li>
                        {% else %}
                        <li class="nav__item"><a href="{{ url_for('authplans', username=current_user.username) }}" class="nav__link">Plans</a></li>
                        <li class="nav__item"><a href="{{ url_for('user', username=current_user.username) }}" class="nav__link">Profile</a></li>
                        <li class="nav__item"><a href="{{ url_for('logout') }}" class="nav__link auth">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <div class="home__img">
                        <img src="../static/img/1.png" alt="" data-speed="-2" class="move">
                        <img src="../static/img/2.png" alt="" data-speed="2" class="move">
                        <img src="../static/img/3.png" alt="" data-speed="1" class="move">
                        <img src="../static/img/4.png" alt="" data-speed="-1" class="move">
                    </div>

                    <div class="home__data">
                        <h1 class="home__title"> Travel<br><span>Cube</span></h1>
                        <p class="home__description">Platform for friends to share <br> their travel plans.</p>
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('plans') }}" class="home__button">See Plans <i class='bx bxs-plane-alt'></i></a>
                        {% else %}
                        <a href="{{ url_for('authplans', username=current_user.username) }}" class="home__button">See Plans <i class='bx bxs-plane-alt'></i></a>
                        {% endif %}
                    </div>
                </div>
            </section>
        </main>

        <!--===== GSAP =====-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>

        <!--===== MAIN JS =====-->
        <script src="{{ url_for('static', filename='main.js') }}"> </script>
    </body>
</html>